
    <section class="card-holder">
        {{#each drawers}}
        <div class="card">

            <img src="{{imgUrl}}" alt="">
            <h2>{{name}}</h2>
        </div>
        {{/each}}
    </section>
     


