 <header>
        <h1 style="color:#F00">Galeria de Imagenes</h1>
        <nav>
            <ul>
                <li><a href="#start">Inicio</a></li>
                <li><a href="#imagenes">Galeria</a></li>
                <li><a href="#form">Contacto</a></li>
            </ul>
        </nav>
    </header>